##ignore this file##
*.idea
__pycache__
*.zip
flower_data
*.h5
*.pth
*.pt
*.jpg
*.ckpt.*
*.ckpt
*.config
*.gz
*.onnx
*.xml
*.bin
*.mapping
*.csv
checkpoint
data
VOCdevkit
ssd_resnet50_v1_fpn_shared_box_predictor

seg_results.json
det_results.json
det_record_mAP.txt
seg_record_mAP.txt
det_results*.txt
seg_results*.txt

*.sh
!/pytorch_object_detection/mask_rcnn/scripts/*.sh
*.png
pytorch_object_detection/mask_rcnn/multi_train/
pytorch_object_detection/mask_rcnn/Distill/
pytorch_object_detection/mask_rcnn/test*
pytorch_object_detection/mask_rcnn/Debug/
pytorch_object_detection/mask_rcnn/DebugNew/
pytorch_object_detection/mask_rcnn/PseudoQAT/
pytorch_object_detection/mask_rcnn/RealQAT/
debug*
tmp*